# Week 2 HW

Exercise 1 is due Monday.  
Exercise 2 is due Tuesday.  
Exercise 3 is due Wednesday.

# Exercise #1

### Given the following variable `money_moves`

In [1]:
money_moves = ["fur coats","money fans","Diamonds","MoNeY FaNs","FUR COATS","barrels of gold"]

### a. Print the list of unique elements. Then output the length.

In [2]:
# place code here
#print(type(money_moves))
uniquenames=set(money_moves)
print(uniquenames)
print(type(uniquenames))
print(len(uniquenames))

{'money fans', 'FUR COATS', 'fur coats', 'barrels of gold', 'MoNeY FaNs', 'Diamonds'}
<class 'set'>
6

### b. Set the 4th and 5th elements of the original list in lowercase. Pop that value and append it to the end of the list. Print the list.

In [3]:
#setting the 4th and 5th element to lowercase and popping them
print(money_moves)
aa = money_moves.pop(3).lower()
print(aa)
bb = money_moves.pop(3).lower()
print(bb)

#appending the values to the original list
print(money_moves)
money_moves.append(aa)
print(money_moves)
money_moves.append(bb)
print(money_moves)

['fur coats', 'money fans', 'Diamonds', 'MoNeY FaNs', 'FUR COATS', 'barrels of gold']
money fans
fur coats
['fur coats', 'money fans', 'Diamonds', 'barrels of gold']
['fur coats', 'money fans', 'Diamonds', 'barrels of gold', 'money fans']
['fur coats', 'money fans', 'Diamonds', 'barrels of gold', 'money fans', 'fur coats']

### d. Create a new list, append odd number items from the original list`money_moves` and output the new list

In [4]:
#appending the odd number elements item 1 /at index 0/, item 3 /at index 2/ and item 5 /at index 4/
money_moves = ["fur coats","money fans","Diamonds","MoNeY FaNs","FUR COATS","barrels of gold"]
new_list = []
new_list.append(money_moves[0])
print(new_list)
new_list.append(money_moves[2])
print(new_list)
new_list.append(money_moves[4])
print(new_list)

#2nd version
#new_list1 = money_moves[0::2]
#new_list

['fur coats']
['fur coats', 'Diamonds']
['fur coats', 'Diamonds', 'FUR COATS']

### e. Create a new dict. Add each item of `money_moves` to the dict using it's place in the list as the key for the dict. Print the dict.

In [5]:
money_moves = ["fur coats","money fans","Diamonds","MoNeY FaNs","FUR COATS","barrels of gold"]

In [6]:
new_dict = {}

new_dict[0] = money_moves[0]
new_dict[1] = money_moves[1]
new_dict[2] = money_moves[2]
new_dict[3] = money_moves[3]
new_dict[4] = money_moves[4]
new_dict[5] = money_moves[5]

print(new_dict)

#2nd version
#dict_1 = dict(enumerate(money_moves))
#dict_1

{0: 'fur coats', 1: 'money fans', 2: 'Diamonds', 3: 'MoNeY FaNs', 4: 'FUR COATS', 5: 'barrels of gold'}

# Exercise 2

### Given the string below:

In [1]:
original_string = "Supercalifragilisticexpialadocious"

### a. Extract the 3rd and 4th element separately. Return the two values in a tuple

In [2]:
#extracting the 3rd /at index 2/ and 4th element /at index3/ of the str
a = original_string[2]
b = original_string[3]
print(a)
print(b)

#concatenating the 2 strings into a new string\\longer version\\
#c = a + b
#print(type(c))
#print(c)
#turning the string into a tuple
#cc = tuple(c)
#print(cc)
#print(type(cc))

#Return the two values in a tuple
new_tup = tuple(a) + tuple(b)
print(new_tup)
print(type(new_tup))

p
e
('p', 'e')
<class 'tuple'>

### b. Extract the 3rd through 5th element, inclusive.

In [3]:
original_string[2:5]

'per'

### c. Extract the 3rd (inclusive) through 5th (exclusive) element.

In [4]:
original_string[2:4]

'pe'

### d. What is the index of "S"? How many elements in the list are "S"? Output the results as a tuple

In [5]:
s = original_string.index("S")
s #just calling the element at that position already outputs it as a tuple

#version 1, format a str to a tupple
tup = s,
"{}".format(*tup)
print(tup)
print(type(tup))

#version 2, format a str to a list to a tuple
new_s = tuple([s])
print(new_s)
print(type(new_s))

(0,)
<class 'tuple'>
(0,)
<class 'tuple'>

### e. What are the last 3 elements of the string?

In [38]:
original_string[-3:]

'ous'

### f. Output the string backwards

In [39]:
original_string[::-1]

'suoicodalaipxecitsiligarfilacrepuS'

# Exercise 3

### Given the following code, fix it so the code outputs `"hello"`:

Hint: for each, you just have to edit one line of code

(Don't worry, you aren't meant to understand everything going on in them yet)

In [46]:
def function(x):
    if type(x) == str:
        print(x)

function("hello")

#changed the data type after == from bool to str

hello

In [49]:
s = ["h", "e", "l", "l", "o"]
"".join(s)
#added the join method after the "" to turn the list into a str

'hello'

In [52]:
a = True
b = False
c = True
d = False
"hello" if (b or a and b == d and b or c) else ""

#changed the last element in the brackets from b to c, so that it will be true

'hello'

In [62]:
class Example:
    def __init__(self, val):
        self.a = val or print("hello")
    def say_hi(self):
        print("hello") if self.a == "fixed" else print("")
    def hello(self):
        return "olleh".reverse()
        
e = Example("")
e.say_hi()

#changed the operator in line 3 from AND to OR /self.a = val and print/"hello"//
#so that even if the first part of the sentense is false it will still print hello

hello