<div style="background: #000;
            color: #FFF;
            margin: 0px;
            margin-bottom: 10px;
            padding: 10px 0px 20px 0px;
            text-align: center; 
                ">
    <h1 >Week 30 Lab</h1>
</div>

# SQL

### Exercise 1

Write a SQL query to get the second highest salary from the Employee table.
```
+----+--------+
| Id | Salary |
+----+--------+
| 1  | 100    |
| 2  | 200    |
| 3  | 300    |
+----+--------+
```
For example, given the above Employee table, the query should return 200 as the second highest salary. If there is no second highest salary, then the query should return null.
```
+---------------------+
| SecondHighestSalary |
+---------------------+
| 200                 |
+---------------------+
```

In [1]:
import sqlite3

sql_commands = \
"""
DROP TABLE IF EXISTS Employee;

CREATE TABLE Employee (
 Id INTEGER NOT NULL PRIMARY KEY,
 Salary INTEGER NOT NULL
);

INSERT INTO Employee (Id, Salary) values ('1', '100');
INSERT INTO Employee (Id, Salary) values ('2', '200');
INSERT INTO Employee (Id, Salary) values ('3', '300');

"""
db = sqlite3.connect('week-30-lab.db')
cursor = db.cursor()
cursor.executescript(sql_commands)
db.commit()
db.close()

In [2]:
# use this function for your answers.
def with_conn(statement):
    conn = sqlite3.connect('week-30-lab.db')
    with conn:
        cur = conn.cursor()
        cur.execute(statement)
        result = cur.fetchall()
        return result

In [3]:
#with_conn('SELECT Salary FROM Employee WHERE id=2 or NULL')

[(200,)]

In [11]:
with_conn('SELECT MAX(Salary) FROM Employee WHERE Salary NOT IN (SELECT MAX(Salary) FROM Employee)')

[(200,)]

# Exercise 2

Suppose that a website contains two tables, the Customers table and the Orders table. Write a SQL query to find all customers who never order anything.
```
Table: Customers.

+----+-------+
| Id | Name  |
+----+-------+
| 1  | Joe   |
| 2  | Henry |
| 3  | Sam   |
| 4  | Max   |
+----+-------+

Table: Orders.

+----+------------+
| Id | CustomerId |
+----+------------+
| 1  | 3          |
| 2  | 1          |
+----+------------+
```
Using the above tables as example, return the following:
```
+-----------+
| Customers |
+-----------+
| Henry     |
| Max       |
+-----------+
```

In [5]:
import sqlite3

sql_commands = \
"""
PRAGMA foreign_keys = ON;

DROP TABLE IF EXISTS Customers;
DROP TABLE IF EXISTS Orders;

CREATE TABLE Customers (
 Id INTEGER NOT NULL PRIMARY KEY,
 Name NVARCHAR(255)
);

CREATE TABLE Orders (
 Id INTEGER NOT NULL PRIMARY KEY,
 CustomerId INTEGERY NOT NULL,
 FOREIGN KEY(CustomerId) REFERENCES Customers(Id)
);

INSERT INTO Customers (Id, Name) VALUES ('1', 'Joe');
INSERT INTO Customers (Id, Name) VALUES ('2', 'Henry');
INSERT INTO Customers (Id, Name) VALUES ('3', 'Sam');
INSERT INTO Customers (Id, Name) VALUES ('4', 'Max');
INSERT INTO Orders (Id, CustomerId) VALUES ('1', '3');
INSERT INTO Orders (Id, CustomerId) VALUES ('2', '1');
"""
db = sqlite3.connect('week-30-lab.db')
cursor = db.cursor()
cursor.executescript(sql_commands)
db.commit()
db.close()

IntegrityError: FOREIGN KEY constraint failed

In [6]:
# use this function for your answers.
def with_conn(statement):
    conn = sqlite3.connect('week-30-lab.db')
    with conn:
        cur = conn.cursor()
        cur.execute(statement)
        result = cur.fetchall()
        return result

In [7]:
with_conn('SELECT * FROM Customers')

[(1, 'Joe'), (2, 'Henry'), (3, 'Sam'), (4, 'Max')]

In [8]:
with_conn('SELECT * FROM Orders')

[(1, 3), (2, 1)]

In [12]:
with_conn('SELECT Name FROM Customers WHERE Name NOT IN (SELECT c.Name FROM Customers c, Orders o WHERE o.CustomerId= c.Id)')

[('Henry',), ('Max',)]

### Exercise 3

Table `my_numbers` contains many numbers in column num including duplicated ones.
Can you write a SQL query to find the biggest number, which only appears once.
```
+---+
|num|
+---+
| 8 |
| 8 |
| 3 |
| 3 |
| 1 |
| 4 |
| 5 |
| 6 | 
```
For the sample data above, your query should return the following result:
```
+---+
|num|
+---+
| 6 |
```

In [13]:
import sqlite3

sql_commands = \
"""
DROP TABLE IF EXISTS my_numbers;

CREATE TABLE my_numbers (
 id INTEGER NOT NULL PRIMARY KEY,
 num INTEGER NOT NULL
);

INSERT INTO my_numbers (num) VALUES ('8');
INSERT INTO my_numbers (num) VALUES ('8');
INSERT INTO my_numbers (num) VALUES ('3');
INSERT INTO my_numbers (num) VALUES ('3');
INSERT INTO my_numbers (num) VALUES ('1');
INSERT INTO my_numbers (num) VALUES ('4');
INSERT INTO my_numbers (num) VALUES ('5');
INSERT INTO my_numbers (num) VALUES ('6');
"""
db = sqlite3.connect('week-30-lab.db')
cursor = db.cursor()
cursor.executescript(sql_commands)
db.commit()
db.close()

In [14]:
# use this function for your answers.
def with_conn(statement):
    conn = sqlite3.connect('week-30-lab.db')
    with conn:
        cur = conn.cursor()
        cur.execute(statement)
        result = cur.fetchall()
        return result

In [15]:
with_conn('SELECT num FROM my_numbers')

[(8,), (8,), (3,), (3,), (1,), (4,), (5,), (6,)]

In [19]:
with_conn("SELECT MAX(num) FROM my_numbers WHERE num IN (select num from my_numbers GROUP BY num HAVING COUNT(num)=1)")

[(6,)]

### Exercise 4

The `CompanyEmployee` table holds all employees including their managers. Every employee has an `Id`, and there is also a column for the manager `Id`.
```
+----+-------+--------+-----------+
| Id | Name  | Salary | ManagerId |
+----+-------+--------+-----------+
| 1  | Joe   | 70000  | 3         |
| 2  | Henry | 80000  | 4         |
| 3  | Sam   | 60000  | NULL      |
| 4  | Max   | 90000  | NULL      |
+----+-------+--------+-----------+
```
Given the Employee table, write a SQL query that finds out employees who earn more than their managers. For the above table, Joe is the only employee who earns more than his manager.
```
+----------+
| Employee |
+----------+
| Joe      |
+----------+
```

In [20]:
import sqlite3

sql_commands = \
"""
DROP TABLE IF EXISTS CompanyEmployee;

CREATE TABLE CompanyEmployee (
 Id INTEGER NOT NULL PRIMARY KEY,
 Name VARCHAR(50) NOT NULL,
 Salary INTEGER NOT NULL,
 ManagerId Integer
);

INSERT INTO CompanyEmployee (Id, Name, Salary, ManagerId) Values ('1', 'Joe', '70000', '3');
INSERT INTO CompanyEmployee (Id, Name, Salary, ManagerId) Values ('2', 'Henry', '80000', '4');
INSERT INTO CompanyEmployee (Id, Name, Salary) Values ('3', 'Sam', '60000');
INSERT INTO CompanyEmployee (Id, Name, Salary) Values ('4', 'Max', '90000');
"""
db = sqlite3.connect('week-30-lab.db')
cursor = db.cursor()
cursor.executescript(sql_commands)
db.commit()
db.close()

In [21]:
# use this function for your answers.
def with_conn(statement):
    conn = sqlite3.connect('week-30-lab.db')
    with conn:
        cur = conn.cursor()
        cur.execute(statement)
        result = cur.fetchall()
        return result

In [22]:
with_conn('SELECT * FROM CompanyEmployee')

[(1, 'Joe', 70000, 3),
 (2, 'Henry', 80000, 4),
 (3, 'Sam', 60000, None),
 (4, 'Max', 90000, None)]

In [23]:
with_conn('SELECT emp.Name FROM CompanyEmployee emp, CompanyEmployee mgr WHERE emp.ManagerId=mgr.Id AND emp.Salary > mgr.Salary')

[('Joe',)]

# Django Practice

In your ongoing `Django` project (not the final project or the one from class this week). Create a `models.py` file in your main app and then add relevant models to your project. Once you get that to work (check that your models work by using `python manage.py shell` to work with your models), then try getting the following to work:

In your `views.py` file, attempt to access one of your models via views like so:

example

```python
from django.http import HttpResponse
from django.shortcuts import render
from <app>.models import User

def listing(request):
    data = {
        "users": User.objects.all(),
    }

    # here we're passing the data to our template 
    # we can use tags in our template to display our data
    return render(request, "index.html", data)
```

Complete the following:
* Create two models in the `models.py` file of your app inside your project. Make the two models have some sort of relationship (one-to-one, many-to-many, many-to-one).
* Add rows/entries to your tables/models via `python manage.py shell`
* Create a view in our `views.py` file that uses your models in your views.

When your code is working, commit it to github and submit the link with this notebook in your lab submission.

# Data Pipeline Project

Continue working on your project. At this point you should have some initial data gathered and should be working on initial data analysis and cleanup. Begin planning how you would like to store your data and begin setting up your database and inputting your data.

Submit in this lab:
* your topic
* information about your data gathered
* a plan for your database including which tables you will need and what columns they require.

# Work on your project due this weekend.