<div style="background: #000;
            color: #FFF;
            margin: 0px;
            padding: 10px 0px 20px 0px;
            text-align: center; 
                ">
    <h1>Lab</h1>
</div>

For this lab, we'll be using the `flights.txt` file located in `/datasets`.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

**Part 1**

Open `../datasets/flights.txt`. Use the methods we've learned in class to analyze the dataset from the top-level (see how many rows it has, how many null values, what columns are necessary, etc.).

**a.** read the file into a dataframe (hint: as a csv)

In [2]:
#help(pd.read_csv)

In [29]:
df = pd.read_csv("../datasets/flights.txt", sep='|')  #csv files are normally separated by comma, not |, this is a  txt so we need to pass | as an arg
df

,Unnamed: 0,Unnamed: 0.1,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,...,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,0,0,2013,1,1,517.0,515,2.0,830.0,819,...,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01T10:00:00Z
1,1,1,2013,1,1,533.0,529,4.0,850.0,830,...,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01T10:00:00Z
2,2,2,2013,1,1,542.0,540,2.0,923.0,850,...,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01T10:00:00Z
3,3,3,2013,1,1,544.0,545,-1.0,1004.0,1022,...,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01T10:00:00Z
4,4,4,2013,1,1,554.0,600,-6.0,812.0,837,...,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01T11:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99995,99995,2013,12,19,814.0,817,-3.0,920.0,931,...,EV,4234,N25134,EWR,BWI,40.0,169,8,17,2013-12-19T13:00:00Z
99996,99996,99996,2013,12,19,815.0,810,5.0,1033.0,1047,...,9E,3741,N293PQ,LGA,MCI,172.0,1107,8,10,2013-12-19T13:00:00Z
99997,99997,99997,2013,12,19,815.0,815,0.0,1117.0,1123,...,B6,281,N298JB,JFK,HOU,216.0,1428,8,15,2013-12-19T13:00:00Z
99998,99998,99998,2013,12,19,815.0,749,26.0,1113.0,1103,...,UA,623,N504UA,EWR,SAN,337.0,2425,7,49,2013-12-19T12:00:00Z
99999,99999,99999,2013,12,19,816.0,800,16.0,1130.0,1118,...,UA,997,N536UA,EWR,LAX,346.0,2454,8,0,2013-12-19T13:00:00Z

**b.** Find the memory usage programmatically (hint: use `help`)

In [30]:
#help(df.info)

In [31]:
df.memory_usage().sum() / 1000000    #divide by a million to get the MBs

16.800128

**c.** Find the number of missing entries for each column.

In [32]:
df.isna().sum()  #these are the total missing values for each column

Unnamed: 0           0
Unnamed: 0.1         0
year                 0
month                0
day                  0
dep_time          1894
sched_dep_time       0
dep_delay         1894
arr_time          1964
sched_arr_time       0
arr_delay         2146
carrier              0
flight               0
tailnum            547
origin               0
dest                 0
air_time          2146
distance             0
hour                 0
minute               0
time_hour            0
dtype: int64

**d.** What columns are unnecessary? Remove them so that the `df` doesn't include them.

In [33]:
#It looks like Unnamed 0 and Unnamed 0.1 are not necessary

del df['Unnamed: 0']   #or is it better to use the drop method? df.drop(columns=['Unnamed: 0','Unnamed: 0.1'], axis = 1)

In [34]:
del df["Unnamed: 0.1"]

In [35]:
df   #maybe also remove the last one time_hour???

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01T10:00:00Z
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01T10:00:00Z
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01T10:00:00Z
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01T10:00:00Z
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01T11:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2013,12,19,814.0,817,-3.0,920.0,931,-11.0,EV,4234,N25134,EWR,BWI,40.0,169,8,17,2013-12-19T13:00:00Z
99996,2013,12,19,815.0,810,5.0,1033.0,1047,-14.0,9E,3741,N293PQ,LGA,MCI,172.0,1107,8,10,2013-12-19T13:00:00Z
99997,2013,12,19,815.0,815,0.0,1117.0,1123,-6.0,B6,281,N298JB,JFK,HOU,216.0,1428,8,15,2013-12-19T13:00:00Z
99998,2013,12,19,815.0,749,26.0,1113.0,1103,10.0,UA,623,N504UA,EWR,SAN,337.0,2425,7,49,2013-12-19T12:00:00Z
99999,2013,12,19,816.0,800,16.0,1130.0,1118,12.0,UA,997,N536UA,EWR,LAX,346.0,2454,8,0,2013-12-19T13:00:00Z

**e.** Carrier/airline information is located below. Use the information in there to create a new column with a human-readable airline name.

```
"9E" "Endeavor Air Inc.",
"AA" "American Airlines Inc.",
"AS" "Alaska Airlines Inc.",
"B6" "JetBlue Airways",
"DL" "Delta Air Lines Inc.",
"EV" "ExpressJet Airlines Inc.",
"F9" "Frontier Airlines Inc.",
"FL" "AirTran Airways Corporation",
"HA" "Hawaiian Airlines Inc.",
"MQ" "Envoy Air",
"OO" "SkyWest Airlines Inc.",
"UA" "United Air Lines Inc.",
"US" "US Airways Inc.",
"VX" "Virgin America",
"WN" "Southwest Airlines Co.",
"YV" "Mesa Airlines Inc.",

```

In [36]:
carrier_mapping = {"9E": "Endeavor Air Inc.",
"AA": "American Airlines Inc.",
"AS":"Alaska Airlines Inc.",
"B6": "JetBlue Airways",
"DL": "Delta Air Lines Inc.",
"EV": "ExpressJet Airlines Inc.",
"F9": "Frontier Airlines Inc.",
"FL": "AirTran Airways Corporation",
"HA": "Hawaiian Airlines Inc.",
"MQ": "Envoy Air",
"OO": "SkyWest Airlines Inc.",
"UA": "United Air Lines Inc.",
"US": "US Airways Inc.",
"VX": "Virgin America",
"WN": "Southwest Airlines Co.",
"YV": "Mesa Airlines Inc."}

In [37]:
carrier_mapping

{'9E': 'Endeavor Air Inc.',
 'AA': 'American Airlines Inc.',
 'AS': 'Alaska Airlines Inc.',
 'B6': 'JetBlue Airways',
 'DL': 'Delta Air Lines Inc.',
 'EV': 'ExpressJet Airlines Inc.',
 'F9': 'Frontier Airlines Inc.',
 'FL': 'AirTran Airways Corporation',
 'HA': 'Hawaiian Airlines Inc.',
 'MQ': 'Envoy Air',
 'OO': 'SkyWest Airlines Inc.',
 'UA': 'United Air Lines Inc.',
 'US': 'US Airways Inc.',
 'VX': 'Virgin America',
 'WN': 'Southwest Airlines Co.',
 'YV': 'Mesa Airlines Inc.'}

In [38]:

df["carrier"] = df["carrier"].replace(carrier_mapping)

In [39]:


#df["carrier full name"] = df["carrier full name"].replace(carrier_mapping)

In [40]:
df

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,United Air Lines Inc.,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01T10:00:00Z
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,United Air Lines Inc.,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01T10:00:00Z
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,American Airlines Inc.,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01T10:00:00Z
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,JetBlue Airways,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01T10:00:00Z
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,Delta Air Lines Inc.,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01T11:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2013,12,19,814.0,817,-3.0,920.0,931,-11.0,ExpressJet Airlines Inc.,4234,N25134,EWR,BWI,40.0,169,8,17,2013-12-19T13:00:00Z
99996,2013,12,19,815.0,810,5.0,1033.0,1047,-14.0,Endeavor Air Inc.,3741,N293PQ,LGA,MCI,172.0,1107,8,10,2013-12-19T13:00:00Z
99997,2013,12,19,815.0,815,0.0,1117.0,1123,-6.0,JetBlue Airways,281,N298JB,JFK,HOU,216.0,1428,8,15,2013-12-19T13:00:00Z
99998,2013,12,19,815.0,749,26.0,1113.0,1103,10.0,United Air Lines Inc.,623,N504UA,EWR,SAN,337.0,2425,7,49,2013-12-19T12:00:00Z
99999,2013,12,19,816.0,800,16.0,1130.0,1118,12.0,United Air Lines Inc.,997,N536UA,EWR,LAX,346.0,2454,8,0,2013-12-19T13:00:00Z

In [41]:
df.columns

Index(['year', 'month', 'day', 'dep_time', 'sched_dep_time', 'dep_delay',
       'arr_time', 'sched_arr_time', 'arr_delay', 'carrier', 'flight',
       'tailnum', 'origin', 'dest', 'air_time', 'distance', 'hour', 'minute',
       'time_hour'],
      dtype='object')

**Part 2** 

Now we need to fix the missing rows and values.

**a.** Check out the rows missing values for "dep_delay". Can we keep them? If not, remove those rows.

(note: we're only interested in rows with flight time information)

In [45]:
df = df[~df.dep_delay.isna()].reset_index(drop=True)     #negating

In [46]:
df

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,United Air Lines Inc.,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01T10:00:00Z
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,United Air Lines Inc.,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01T10:00:00Z
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,American Airlines Inc.,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01T10:00:00Z
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,JetBlue Airways,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01T10:00:00Z
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,Delta Air Lines Inc.,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01T11:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98101,2013,12,19,814.0,817,-3.0,920.0,931,-11.0,ExpressJet Airlines Inc.,4234,N25134,EWR,BWI,40.0,169,8,17,2013-12-19T13:00:00Z
98102,2013,12,19,815.0,810,5.0,1033.0,1047,-14.0,Endeavor Air Inc.,3741,N293PQ,LGA,MCI,172.0,1107,8,10,2013-12-19T13:00:00Z
98103,2013,12,19,815.0,815,0.0,1117.0,1123,-6.0,JetBlue Airways,281,N298JB,JFK,HOU,216.0,1428,8,15,2013-12-19T13:00:00Z
98104,2013,12,19,815.0,749,26.0,1113.0,1103,10.0,United Air Lines Inc.,623,N504UA,EWR,SAN,337.0,2425,7,49,2013-12-19T12:00:00Z
98105,2013,12,19,816.0,800,16.0,1130.0,1118,12.0,United Air Lines Inc.,997,N536UA,EWR,LAX,346.0,2454,8,0,2013-12-19T13:00:00Z

**b.** Now check out the rows missing "arr_time". Can we keep them? Drop them if not.

In [49]:
df[df.arr_time.isna()]

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
754,2013,1,1,2016.0,1930,46.0,NaN,2220,NaN,ExpressJet Airlines Inc.,4204,N14168,EWR,OKC,NaN,1325,19,30,2013-01-02T00:00:00Z
1710,2013,1,2,2041.0,2045,-4.0,NaN,2359,NaN,JetBlue Airways,147,N630JB,JFK,RSW,NaN,1074,20,45,2013-01-03T01:00:00Z
1752,2013,1,2,2145.0,2129,16.0,NaN,33,NaN,United Air Lines Inc.,1299,N12221,EWR,RSW,NaN,1068,21,29,2013-01-03T02:00:00Z
7000,2013,1,9,615.0,615,0.0,NaN,855,NaN,Endeavor Air Inc.,3856,N161PQ,JFK,ATL,NaN,760,6,15,2013-01-09T11:00:00Z
7812,2013,1,9,2042.0,2040,2.0,NaN,2357,NaN,JetBlue Airways,677,N807JB,JFK,LAX,NaN,2475,20,40,2013-01-10T01:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94318,2013,12,14,1954.0,1615,219.0,NaN,1810,NaN,Endeavor Air Inc.,2933,N931XJ,JFK,RDU,NaN,427,16,15,2013-12-14T21:00:00Z
95695,2013,12,16,1446.0,1055,231.0,NaN,1250,NaN,Envoy Air,3689,N512MQ,LGA,DTW,NaN,502,10,55,2013-12-16T15:00:00Z
96241,2013,12,17,715.0,720,-5.0,NaN,832,NaN,United Air Lines Inc.,424,N851UA,EWR,BOS,NaN,200,7,20,2013-12-17T12:00:00Z
96711,2013,12,17,1707.0,1459,128.0,NaN,1625,NaN,Endeavor Air Inc.,2903,N912XJ,JFK,BOS,NaN,187,14,59,2013-12-17T19:00:00Z
96988,2013,12,18,556.0,600,-4.0,NaN,701,NaN,US Airways Inc.,2134,N757UW,LGA,BOS,NaN,184,6,0,2013-12-18T11:00:00Z

**c.** Now let's check out the rows missing `air_time`. Can we keep them? Drop them if not.

In [50]:
df[df.air_time.isna()]

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
471,2013,1,1,1525.0,1530,-5.0,1934.0,1805,NaN,Envoy Air,4525,N719MQ,LGA,XNA,NaN,1147,15,30,2013-01-01T20:00:00Z
477,2013,1,1,1528.0,1459,29.0,2002.0,1647,NaN,ExpressJet Airlines Inc.,3806,N17108,EWR,STL,NaN,872,14,59,2013-01-01T19:00:00Z
615,2013,1,1,1740.0,1745,-5.0,2158.0,2020,NaN,Envoy Air,4413,N739MQ,LGA,XNA,NaN,1147,17,45,2013-01-01T22:00:00Z
643,2013,1,1,1807.0,1738,29.0,2251.0,2103,NaN,United Air Lines Inc.,1228,N31412,EWR,SAN,NaN,2425,17,38,2013-01-01T22:00:00Z
725,2013,1,1,1939.0,1840,59.0,29.0,2151,NaN,Endeavor Air Inc.,3325,N905XJ,JFK,DFW,NaN,1391,18,40,2013-01-01T23:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96358,2013,12,17,902.0,910,-8.0,1234.0,1025,NaN,JetBlue Airways,1634,N296JB,JFK,BTV,NaN,266,9,10,2013-12-17T14:00:00Z
96711,2013,12,17,1707.0,1459,128.0,NaN,1625,NaN,Endeavor Air Inc.,2903,N912XJ,JFK,BOS,NaN,187,14,59,2013-12-17T19:00:00Z
96872,2013,12,17,2022.0,2029,-7.0,28.0,2211,NaN,United Air Lines Inc.,1464,N38451,EWR,CLE,NaN,404,20,29,2013-12-18T01:00:00Z
96988,2013,12,18,556.0,600,-4.0,NaN,701,NaN,US Airways Inc.,2134,N757UW,LGA,BOS,NaN,184,6,0,2013-12-18T11:00:00Z
98012,2013,12,19,659.0,700,-1.0,1333.0,1030,NaN,Delta Air Lines Inc.,486,N704X,JFK,SLC,NaN,1990,7,0,2013-12-19T12:00:00Z

**Part 3**

Making observations of what we have.

**a.** What flight was the longest? Where did it leave from and where did it land?

You might need to look up airport codes.

**b.** What flight was the shortest?

**c.** What airline flied the most during this period?

hint: `.size()`

**d.** Which destination was most flown to?

**e.** Which location was flown from the most?

**f.** Which flight had the longest departure delay?

**g.** Which flight had the longest arrival delay? Should match the previous.

**h.** Which airline had the longest arrival delays on average?

**i.** Which airline had the longest departure delays on average?

**j.** Which aircraft (going by tailnumber) flew the most?

**Bonus:** What day had the most flights?

**Part 4**

Using one (or more) of the exercises from **Part 3**, plot the information in a matplotlib chart that has correct ticks, labels, titles and axis. Also ensure that the chart type that you use is the correct one for plotting the data you're using. Create a chart you would proudly show an employer.